<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>CronCraft</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <ul>
        <strong>CronCraft</strong>
      </ul>
      <ul>
        <a href="/add">Add Job</a>
      </ul>
    </nav>

    <main>
      {{if .Jobs}}
      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Schedule</th>
            <th>Command</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {{range .Jobs}}
          <tr>
            <td>{{.Name}}</td>
            <td>{{.Schedule}}</td>
            <td>{{.Command}}</td>
            <td style="display: flex; justify-content: space-evenly">
              <form action="/run/{{.ID}}" method="post">
                <button type="submit" style="color: var(--status-success)">
                  Execute Now
                </button>
              </form>
              <form action="/logs/{{.ID}}" method="get">
                <button type="submit" style="color: var(--status-running)">
                  Job History
                </button>
              </form>
              <form action="/delete/{{.ID}}" method="post">
                <button
                  type="submit"
                  onclick="return confirm('Are you sure?')"
                  style="color: var(--status-failed)"
                >
                  Delete
                </button>
              </form>
              <form action="/edit/{{.ID}}" method="get">
                <button type="submit" style="color: var(--accent)">Edit</button>
              </form>
            </td>
          </tr>
          {{end}}
        </tbody>
      </table>
      {{else}}
      <p>No jobs configured yet.</p>
      {{end}}
    </main>
  </body>
</html>
